name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run StandardRB
        run: bundle exec standardrb

      - name: Run tests
        run: bundle exec ruby -Itest test/continuous_integration_test.rb
